body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto; /*alinea el bloque al centro*/
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;

}
nav li {
    display: inline;
    margin: 0 0 0 15px; /*parametros de espacio entre palabras.*/
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; /* texto en negrita*/
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{ /*captura movimiento del mouse en los links y los cambia de color*/ 
    color: #c68c19;
    text-decoration: underline;
}
.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li {
    display: inline-block; /*ajusta el tamaño en altura y largo*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px; /* aumenta el tamaño interno, aumento el contenido*/
    box-sizing: border-box; /*configura el limite de espacio definido*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c68c19;
}

.productos li:active {
    border-color: #088c19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2 {/* aumenta el tamaño del border al pasar el mouse por encima del elemento*/
    font-size: 33px;
}
.producto-descripcion {
    font-size: 18px;

}

.producto-precio {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;

}

footer {
    text-align: center;
    background-image: url(https://johahm.github.io/Barberia/img/bg.jpg);
    padding: 40px;
}
.copyright {
    color: #ffffff;
    font-size: 13px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px; /*espacio entre el borde y contenido*/
    width: 50%;  /*espacio de caracteres en el cuadro */
}

.checkboks {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all ;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.1);

}

table {
    margin: 40px 40px; /*espacio de respiro entre los bloques*/
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;

}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Aqui inicia el css para nuestra home*/

.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;/*la imagen solo aplica para el bloque, no altera los titulos*/
}
/*
.titulo-pricipal::first-letter {
    font-weight: bold;  pseudo-elementos
}
.titulo-principal::before {
    content: "[";
}

.titulo-principal::after {
    content: "]";
}
p::first-line{
    font-style: italic;
} */
.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}
.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left; /*imagen redondea el texto*/
    margin: 0 20px 20px 0;/*superior, derecha, inferior, izquierda*/
}
.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888) /*45deg para colocar los colores verticales, 50%despues del color, radial-gradient*/
}
.mapa p {
    margin: 0 0 2em;
    text-align: center;
}
.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}
.items:before{
    content:"✰" /*unicode para buscar modelos de iconos*/
}
.diferenciales {
    padding: 3em 0;
    background: #888888;
}
.contenido-diferenciales {
    width: 640px;
    margin: 0 auto;

        
}

.lista-diferenciales {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    list-style: none; /*quita los puntos de la lista */
}
.items {
    line-height: 1.5;
}

.items:first-child{ /* pinta de negrito la primera fila de la lista*/
    font-weight: bold;
}
.imagen-diferenciales {
    width: 50%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 10px black;/* configuracion de la sombra de la imagen, text-sadwon para texto. en google box shadom css generator mozzilla para probar online */
    float: right;
    
}
.imagen-diferenciales:hover{
    opacity: 50%;
}

.video {
    width: 560px;
    margin: 150px auto;
    padding: 10px;
}

@media screen and (max-width:480px) { 
    h1, h2 nav, p {
        text-align : center;
    }
    nav, h1, h2, footer {
        position: static;
    }
.caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
width: auto; 
}

.lista-diferenciales, .imagen-diferenciales {
    width: 100%;
}
.productos,.producto-descripcion, .producto-precio{
    width:100%;
}
}

/* aplica para los hijos de los parrafos
main > p {
    color: red; img + p para seleccionar el fondo de color a un parrafo. img ~~ p para colorcar color a todos los parrafos despues de la imagen. pero si queremos que uno en especial no lleve ese color, seria la clase con p:not(y aca el ide de ese parrafo). luego llaves y color para ese parrafo
    otro ::
    <h2>
<section>
    <h2>
    <p>
    <p>
    <h2>
</section> para selecciona el ultimo seria (section > p + h2
El último h2 es hijo directo de la section y hermano del p.)
}*/

/*Tanto el float:left como el float: right sirven para que el elemento se destaque en la pantalla, la superficie del elemento continúa siendo utilizada y los otros elementos de texto o elementos en línea se posicionan alrededor de él.*/